# file types to ignore
*.pyc

# ignore environments and lock files created by uv
.venv/
uv.lock

# ignore the build directories
*.egg-info/
build/
/dist/
/docs/build/
/docs/source/api/*.rst
!/docs/source/api/envisage.api.rst
