name: Test with ETS packages from source

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    # Every Friday at 00:00 UTC
    - cron:  '0 0 * * 5'

env:
  INSTALL_EDM_VERSION: 3.7.0
  QT_MAC_WANTS_LAYER: 1

jobs:

  # Test against EDM packages
  test-with-edm:
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        runtime: ['3.8', '3.11']
        toolkit: ['null', 'pyside6']

    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone the Envisage source
        uses: actions/checkout@v6
      - name: Install packages for Qt support
        uses: ./.github/actions/install-qt-support
      - name: Cache EDM packages
        uses: actions/cache@v5
        with:
          path: ~/.cache
          key: ${{ runner.os }}-${{ matrix.runtime }}-${{ matrix.toolkit }}-${{ hashFiles('etstool.py') }}
      - name: Set up EDM
        uses: enthought/setup-edm-action@v4
        with:
          edm-version: ${{ env.INSTALL_EDM_VERSION }}
      - name: Set up bootstrap Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: '.github/workflows/bootstrap-requirements.txt'
      - name: Install click to the bootstrap environment
        run: python -m pip install -r .github/workflows/bootstrap-requirements.txt
      - name: Install test environment
        run: python etstool.py install --runtime=${{ matrix.runtime }} --toolkit=${{ matrix.toolkit }} --source
      - name: Run tests (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: xvfb-run -a python etstool.py test --runtime=${{ matrix.runtime }} --toolkit=${{ matrix.toolkit }}
      - name: Run tests (not Ubuntu)
        if: matrix.os != 'ubuntu-latest'
        run: python etstool.py test --runtime=${{ matrix.runtime }} --toolkit=${{ matrix.toolkit }}
