name: Test with PyPI

on: [pull_request, workflow_dispatch]

env:
  PYTHONUNBUFFERED: 1

jobs:

  # Test against PyPI packages, using pytest
  test-with-pypi:
    strategy:
      matrix:
        os: ['ubuntu-latest']
        python-version: ['3.8', '3.10', '3.11', '3.12', '3.13', '3.14']

    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone the Envisage source
        uses: actions/checkout@v6
      - name: Install packages for Qt support
        uses: ./.github/actions/install-qt-support
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install packages needed for testing
        run: python -m pip install pytest
      - name: Install toolkit
        run: python -m pip install pyside6
      - name: Install package under test
        run: python -m pip install .
      - name: List installed packages
        run: python -m pip list
      - name: Run tests (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: xvfb-run -a python -m pytest
      - name: Run tests (not Ubuntu)
        if: matrix.os != 'ubuntu-latest'
        run: python -m pytest
